* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-white: #fff;
  --color-black: #000;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    width: 1320px;
  }
}

.grid-2 {
  grid-template-columns: repeat(2, 50%);
}

@media (max-width: 768px) {
  .grid-2 {
    grid-template-columns: repeat(1, 1fr);
  }
}

.align-items-center {
  align-items: center;
}

.mb-2 {
  margin-bottom: 20px;
}

.list-style-none {
  list-style: none;
}

.d-flex {
  display: flex;
}
.d-grid {
  display: grid;
}

.a-button {
  display: inline-block;
  background-color: var(--color-white);
  color: var(--color-black);
  border-radius: 15px;
  padding: 10px 15px;
}

.text-center {
  text-align: center;
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
}

@media (max-width: 768px) {
  .grid-3 {
    grid-template-columns: 1fr;
  }
}

.p-tb7 {
  padding-top: 70px;
  padding-bottom: 70px;
}

p:not(.slider p) {
  color: var(--colorP);
}

.gap-6 {
  gap: 6px;
}

.grid-4 {
  grid-template-columns: repeat(4, 1fr);
}

.justify-content-between {
  justify-content: space-between;
}

.w-50 {
  width: 50%;
}

.w-80 {
  width: 80%;
}

.d-flex .w-50,
.d-flex .w-80 {
  flex: 0 0 auto;
}

.m-auto {
  margin: auto;
}

.justify-content-center {
  justify-content: center;
}
@media (max-width: 992px) {
  .grid-4 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .grid-4 {
    grid-template-columns: 1fr;
  }

  .d-flex {
    display: block;
  }
  .w-80,
  .w-50 {
    width: 100%;
  }
}
